<!DOCTYPE html>
<html lang="es">
    <head>
        <title>XOXOTIC</title><!--Titulo de mi web-->
         <meta charset="utf-8" /><!--Codificacion de caracteres-->
         <link rel="stylesheet" type="text/css" href="../css/style-pag-secundarias.css"><!--Estilos cargados desde un archivo-->
         <meta name="author" content="Lisset Guadalupe Callejas, Jaime Rodrigo Bran Sarmientos"><!--Autor-->
    </head>
    <body>
        <header><!--Cabecera principal de mi sitio-->
            <div class="logo">
                <a href="#">
                    <img src="../images/logo-xoxoctic.png">
                </a>
            </div><!--URL de Mi Logo-->
            <div id="menu-s">
                <nav class="menu"><!--Menu-->
                    <ul class="menu-nav">
                        <li><a href="../index.html"><img src="../images/uno.png"></a></li>
                        <li><a href="info.html"><img src="../images/dos.png"></a></li>
                        <li><a href="nosotros.html"><img src="../images/tres.png"></a></li>
                        <li><a href="#"><img src="../images/cuatro.png"></a></li>
                        <li><a href="#"><img src="../images/cinco.png"></a></li>
                       
                    </ul>
                </nav>
            </div>
        </header>
        <!--Contenido del sitio-->
        <!--Contenido general-->
        <div class="fila">
            <!--Articulos-->
            <div class="contenido">
                <div class="info">
                    
                    <h1>Especies en peligro de extinción</h1>


<h2>De cada 1000 tortugas que se liberan, solo una sobrevive.</h2>   

<p>Este mes lo dedicaremos de manera especial a la tortuga carey, hacemos un llamado especial, a las personas a unirse a tan importante causa, en contra de la extracción de huevos de tortugas marinas y del aprovechamiento de estas especies para elaboración de productos. La situación de la especie es tan grave que "no hay oportunidad como para realizar acciones a medio o largo plazo, sino a corto plazo"(ICAPO)  David Melero.                    </p><!--Contenido de articulo-->
                </div>
            </div>
            <!--Sidebar derecho-->
            <div class="barra-lateral">
                <div class="miniatura">
                    <img src="../images/tortuga.jpg">
                    <div><p class="texto-miniatura">El Salvador es, además, el principal sitio de anidación de la tortuga carey en el Pacífico Oriental.</p></div>
                </div>
                <div class="miniatura">
                    <img src="../images/tigre.jpg">
                    <div><p class="texto-miniatura">Quedan solamente 7.000 Tigres. Tres especies de tigres ya desaparecieron: Tigre de Bali, Tigre de Java y el Tigre del Mar Caspio.</p></div>
                </div>
                <div class="miniatura">
                    <img src="../images/ocelot.jpg">
                    <div><p class="texto-miniatura">El Ocelote tiene mucha fama por su piel y a causa de su caza excesiva solo quedan pocos ocelotes.</p></div>
                </div>
                <div class="miniatura">
                    <img src="../images/oso.jpg">
                    <div><p class="texto-miniatura">Los osos polares están en peligro de extinción porque los glaciares están desapareciendo por el Calentamiento Global</p></div>
                </div>
                <div class="miniatura">
                    <img src="../images/cocdrilo.jpg">
                    <div><p class="texto-miniatura">Más de 200 caimanes han encontrado en el bosque Santa Rita, ubicado en el departamento de Ahuachapán, occidente de El Salvador</p></div>
                </div>
                <div class="miniatura">
                    <img src="../images/ballena.jpg">
                    <div><p class="texto-miniatura">Parece irónico que las ballenas no tengan depredadores naturales, y sin embargo, se encuentren en peligro de extinción</p></div>
                </div>
                
            </div>
            </div>
        </div>

        
       <!--Footer-->
        <footer class="footer">
            <img src="../images/logo-xoxoctic.png" class="logo-img">
            <p>
                Fotografías y artes gráficos propiedad © xoxoctic  usar solamente con permisos. textos aprobados luego de investigación www.revistaxoxoctic.com
            </p>    
        </footer>
    </body>
</html>