<!DOCTYPE html>
<html lang="es">
    <head>
        <title>XOXOTIC</title><!--Titulo de mi web-->
         <meta charset="utf-8" /><!--Codificacion de caracteres-->
         <link rel="stylesheet" type="text/css" href="../css/style-pag-secundarias.css"><!--Estilos cargados desde un archivo-->
        
         <meta name="author" content=""><!--Autor-->

         

    </head>
    <body>
        <header><!--Cabecera principal de mi sitio-->
            <div class="logo">
                <a href="#">
                    <img src="../images/logo-xoxoctic.png">
                </a>
            </div><!--URL de Mi Logo-->
            <div id="menu-s">
                <nav class="menu"><!--Menu-->
                    <ul class="menu-nav">
                        <li><a href="../index.html"><img src="../images/uno.png"></a></li>
                        <li><a href="info.html"><img src="../images/dos.png"></a></li>
                        <li><a href="nosotros.html"><img src="../images/tres.png"></a></li>
                        <li><a href="#"><img src="../images/cuatro.png"></a></li>
                        <li><a href="#"><img src="../images/cinco.png"></a></li>
                       
                    </ul>
                </nav>
            </div>
        </header>
        <!--Contenido del sitio-->
        <!--Contenido general-->
        <div class="fila">
            <!--Articulos-->
            <div class="contenido">
                <div class="info">
                    
                    <h1>¿Qué es XOXOCTIC y que hacemos?</h1>


<p>XOXOCTIC es una iniciativa ecológica nacional que surge precisamente para apoyar la mejora en el ámbito ecológico de nuestro país y al mismo tiempo concientizar e invitar a las personas que sean partícipes de las diferentes causas en las cuales nuestro planeta necesita mucha ayuda. </p><!--Contenido de articulo-->
                </div>
            </div>
            <!--Sidebar derecho-->
            <div class="barra-lateral">
               
                
                <img src="../images/pital.jpg" class="imagen">

                <p class="margen60 caption">XOXOCTIC está constantemente realizando obras para proteger nuestro medio ambiente, el área protegida de El Pital es una de estas.</p>
            </div>
            </div>
        </div>

        
       <!--Footer-->
        <footer class="footer">
            <img src="../images/logo-xoxoctic.png" class="logo-img">
            <p>
                Fotografías y artes gráficos propiedad © xoxoctic  usar solamente con permisos. textos aprobados luego de investigación www.revistaxoxoctic.com
            </p>    
        </footer>

        
    </body>
</html>